.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code


# Built Visual Studio Code Extensions


# Prerequisites


# Compiled Object files


# Precompiled Headers


# Compiled Dynamic libraries


# Fortran module files


# Compiled Static libraries


# Executables
*.exe

